<!DOCTYPE html>
<html>
  <head>
    <title> Quiz # </title>
  </head>

  <body>
  <center>
  <h2> Quiz 1 </h2>
  </center>

    <p><h3>What is 21 + 54?</h3></p><br>
 
    <input type="radio" id="answer#1" name="question#" value="answer #1">
    <label for "Answer1">75</label><br>
    
    <input type="radio" id="answer#2" name="question#" value="answer #2">
    <label for "Answer2">72</label><br>
    
    <input type="radio" id="answer#3" name="question#" value="answer #3">
    <label for "Answer3">85</label><br>
    
    <input type="radio" id="answer#4" name="question#" value="answer #4">
    <label for "Answer4">83</label><br>

    <p><input type="submit" name="submit" value="Next Question"></p>

    <p><h3>What is the capital of New York</h3></p><br>
 
    <input type="radio" id="answer#1" name="question#" value="answer #1">
    <label for "Answer1">New York City</label><br>
    
    <input type="radio" id="answer#2" name="question#" value="answer #2">
    <label for "Answer2">Albany</label><br>
    
    <input type="radio" id="answer#3" name="question#" value="answer #3">
    <label for "Answer3">Buffalo</label><br>
    
    <input type="radio" id="answer#4" name="question#" value="answer #4">
    <label for "Answer4">Manhattan</label><br>

    <p><input type="submit" name="submit" value="Next Question"></p>
 
  </body>

</html>